body {
    margin-top: 5em;
}

a:hover {
    text-decoration: none;
    filter: brightness(85%);
}

.card {
    height: 100%;
}

.card_center {
    text-align: center;
}

.card_img {
    height: 48px;
    width: 48px;
}
