{% extends 'base.html' %}
{% load i18n static crispy_forms_tags %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans 'Name and surname' %}</th>
            <th scope="col">{% trans 'Is in staff' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="col">{{ user.id }}</th>
                <th scope="col"><a href="{% url 'user-by-id' user_id=user.id %}">
                {% if user.get_full_name != '' %}
                    {{ user.get_full_name }}
                {% else %}
                    {{ user.email }}
                {% endif %}
                </a></th>
                <th scope="col">{{ user.is_staff|yesno:_("Yes,No") }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}