{% extends 'email/base-mail.html' %}
{% block content %}
    {% autoescape off %}
        Cześć, {{ username }},<br/>
        witaj w Kole Robotyki i Sztucznej Inteligencji UJ, twoje konto do platformy koła zostało utworzone. Dostęp do
        niej jest możliwy (obecnie wyłącznie) przez sieć wi-fi koła za pomocą:<br/>
        {{ protocol }}://{{ domain }}.<br/>
        <br/>
        Jeżeli jesteś członiem-kandydatem, to nie masz jeszcze możliwości otwierania drzwi kołowych - ta możliwość
        zostaje odblokowana po zostaniu członkiem zwyczajnym (zazwyczaj po około 3 miesiącach pod warunkiem aktywności w
        kole).<br/>
        <br/>
        Loginem jest twój adres e-mail. Hasło zostało wygenerowane automatycznie: {{ password }}. Możesz je zmienić po
        zalogowaniu.<br/>
        <br/>
        W osobnym e-mailu powinieneś otrzymać zaproszenie do kołowego Slacka (o ile nie masz już tam konta) - używamy go
        do komunikacji w kole.<br>
        <br/>
        Pozdrawiamy,<br/>
        NKRSI UJ<br/>
    {% endautoescape %}
{% endblock %}
