{% extends 'email/base-mail.html' %}
{% block content %}
    {% autoescape off %}
        Cześć, {{ username }},<br/>
        witaj w Kole Robotyki i Sztucznej Inteligencji UJ, gratulujemy udanego wyboru. Twoje konto do platformy koła
        zostało utworzone. Dostęp do niej jest możliwy za pomocą linku:<br/>
        {{ protocol }}://{{ domain }}.<br/>
        <br/>
        Jeżeli jesteś członkiem-kandydatem, to nie masz jeszcze możliwości otwierania drzwi do siedziby - ta możliwość
        zostaje odblokowana po uzyskaniu statusu członka zwyczajnego. Jeżeli chcesz awansować, to musi zyskać to
        aprobatę członków zarządu Koła. Zachęcamy do aktywnego udziału w życiu Koła!<br/>
        <br/>
        Loginem jest twój adres e-mail. Hasło zostało wygenerowane automatycznie: {{ password }}. Możesz je zmienić po
        zalogowaniu.<br/>
        <br/>
        W osobnym e-mailu powinieneś otrzymać zaproszenie do kołowego Slacka (o ile nie masz już tam konta) - używamy go
        do komunikacji w kole.<br/>
    {% endautoescape %}
{% endblock %}
